<!DOCTYPE html>
<html>
<head>
  <title>S.I.A.R</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
	<header>
		<h1>Encabezado</h1>
	</header>
	  <hr></hr>
	<%= yield %>
</body>
</html>
